

.azeret-mono-compulsory {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  nav ul{
    display: flex;
    justify-content: space-between;

  }
  nav>ul>li{
    list-style: none;
    
  }

  .banner-container{
    
    height: 574px;
    background-image: url(/assets/Hero-bg.png);
    background-position: center;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    
    flex-direction: column;
    

  }
 
  .tittle{

    color: rgb(13, 19, 33);
font-size: 40px;

font-weight: 800;
line-height: 59px;
letter-spacing: 0%;
text-align: center;
 width: 878.24px;
height: 119.68px; 
margin-bottom: 21.12px;
  }
  .description{

    color: rgb(13, 19, 33);

font-size: 14.88px;
font-weight: 400;
line-height: 22.88px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
width: 749.76px;
height: 45.76px;
margin-bottom: 28.26px;

  }
.btn1{
    border-radius: 8px;
    padding: 18.88px 21.12px 18.88px 21.12px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);

font-size: 17.6px;
font-weight: 600;
line-height: 20.24px;
letter-spacing: 0%;
text-align: center;


}
.section-tittle{
font-size: 28.16px;
font-weight: 800;
color: rgb(13, 19, 33);
text-align: center;


}
main{

    max-width: 1003.2px;
    margin: 0 auto;
}
.section-description{
    font-size: 14.08px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    align-items: flex-start;



}
.bg-color{
    background-color: rgba(13, 19, 33, 0.02);



}
.why-web{
    border-radius: 14.08px;

background: rgba(13, 19, 33, 0.02);
    padding:70.4px 85.36px ;
    
    margin-top: 65.12px;
}
.reason-subtittles{

    color: rgba(13, 19, 33, 0.7);

font-size: 21.12px;
font-weight: bold;
line-height: 31.68px;
letter-spacing: 0%;
text-align: left;
}
.learn{
margin-top: 14.08px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 10.26px 17.6px 20.26px 17.6px;
color: rgb(13, 19, 33);
font-size: 17.6px;
font-weight: 600;
line-height: 20.24px;
letter-spacing: 0%;
text-align: center;
}
.reason-1{

    border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    
    padding:42.44px ;
    justify-content: space-between;
    margin-bottom: 28.16px;
    
}
.reason-2{
    border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    
    padding:42.44px ;
    justify-content: space-between;
    margin-bottom: 28.16px;
}
    .reason-cards{
        margin-top: 42.24px;
        gap: 28.16px;
        
    }
.details{
    text-align: left;
    margin: 0px 20px;
    gap: 14.08px;
    justify-content: center;
}
.My-inspiration{
text-align: center;

margin-top: 65.12px;
gap: 21.12px;
}
.video{

margin-top: 77.74px;
    height: 540.32px;

padding: 28.16px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;

}
.My-target{
margin-top: 132.88px;

}

    

.text-align{
    text-align: center;
}
.card-1{
padding: 35.2px;
 border-radius: 16px;
background: rgba(255, 76, 30, 0.05);



}
.card-2{
padding: 35.2px;
 border-radius: 16px;
background:rgba(0, 76, 232, 0.05)



}
.card-3{
padding: 35.2px;
 border-radius: 16px;
background:rgba(255, 223, 0, 0.05)



}
.l-more{

    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14.08px;
font-weight: 700;
line-height: 16.72px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}
.cards{
    margin-top: 42.24px;

    display: flex;
    gap: 30px;
}

.Contact{

display: flex;
flex-direction: column;
align-items: center;

}

.tex-type-white{
    color: rgb(255, 255, 255);
}
.container{
    
    
    background-image:linear-gradient(180.00deg, rgb(0, 0, 0.2) -19.5%,rgba(16, 16, 16, 0) 100%),url(assets/handshake.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    
    background-size: cover;
    height: 275px;
    max-width: 1003.2px;
    margin: 0 auto;
    border-radius: 16px;
    margin-top: 43.12px;
    padding: 56.32px  42.24px 56.32px 42.24px;
}
input[type="text"]{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
padding: 19px 20px 19px 20px;
width: 467.2px;
height: 50px;
}
input[placeholder]{
    
    color: rgba(13, 19, 33, 0.4);
    
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
input[type="submit"]
{
    padding: 13px 16px 13px 16px;
    flex: none;
    border-radius: 8px;
    border: none;

background: rgb(255, 255, 255);
width: 105.6px;
height: 50px;

}
input[value]{
    color: rgb(13, 19, 33);
    

    font-size: 17.6px;
    font-weight: 600;
    line-height: 22.28px;
    letter-spacing: 0%;
    text-align: center;
    


}
.last{
    margin-top: 21.12px;
}